body {
    margin: 0px;
    background-color: #ccccff;
}

h1 {
    color: white;
    background-color: #0000ff;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
}

img {
    float: left;
    border: 1px #9999cc dashed;
    margin: 5px;
}

p {
    font-size: 12px;
    text-indent: 2em;
    line-height: 1.5;
    padding: 5px;
}

#p1 {
    border-right: 4px red double;
}

#p2 {
    border-right: 4px orange double;
}